body {
  margin: 0;
  font-family: 'Noto Sans', sans-serif;
  background-color: #201b2c;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  width: 90%;
  max-width: 400px;
  padding: 20px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  position: relative;
}

.header .back-button {
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  left: 10px;
}

.header h2 {
  font-size: 20px;
  margin: 0;
}

.special-needs {
  text-align: center;
}

.special-needs p {
  font-size: 16px;
  margin-bottom: 20px;
}

.needs-options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.need-option {
  display: flex;
  align-items: center;
  background-color: #49405f;
  border-radius: 20px;
  padding: 10px;
}

.need-option input[type="checkbox"].switch {
  display: none;
}

.need-option input[type="checkbox"].switch + label {
  position: relative;
  padding-left: 50px;
  cursor: pointer;
}

.need-option input[type="checkbox"].switch + label:before,
.need-option input[type="checkbox"].switch + label:after {
  content: "";
  position: absolute;
}

.need-option input[type="checkbox"].switch + label:before {
  width: 40px;
  height: 20px;
  background-color: #ccc;
  border-radius: 20px;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: background-color 0.3s;
}

.need-option input[type="checkbox"].switch + label:after {
  width: 16px;
  height: 16px;
  background-color: #fff;
  border-radius: 50%;
  left: 2px;
  top: 50%;
  transform: translateY(-50%);
  transition: left 0.3s;
}

.need-option input[type="checkbox"].switch:checked + label:before {
  background-color: #77ffc0;
}

.need-option input[type="checkbox"].switch:checked + label:after {
  left: 22px;
}

.save-button {
  display: inline-block;
  padding: 15px 25px;
  background-color: #77ffc0;
  color: #201b2c;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.save-button:hover {
  background-color: #66e6a8;
}