body {
  background-color: #2f2841;
  color: #f0ffff; 
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.header {
  background-color: #201b2c;
  padding: 0.75rem;
}

.profile-bg {
  background-color: none;
  padding: 0.5rem;
  border-radius: 0.875rem;
  display: flex;
  align-items: center;
}

.profile-pic {
  width: 2.75rem;
  height: 2.75rem;
  border-radius: 50%;
}

.nome {
  color: #77ffc0;
  font-size: 1.25rem;
  padding-left: 0.5rem;
}

.header h4 {
  color: #ffffff;
  font-size: 1.25rem;
}

.locations-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  overflow-y: auto;
  flex-grow: 1;
}

.locations-section h5 {
  color: #77ffc0;
  font-weight: bold; 
  margin-bottom: 1rem;
}

.locations-section .carousel-inner {
  margin-top: 1rem; 
}

.locations-section .card {
  background-color: #49405f; 
  border: none;
  border-radius: 15px;
  margin-bottom: 1rem; 
  transition: transform 0.5s ease-in-out;
}

.locations-section .card:hover {
  transform: scale(1.05);
}

.locations-section .card-title {
  color: #ffffff; 
}

.locations-section .card-text {
  color: #D8F3DC; 
}

.card img {
  object-fit: cover;
  height: 9.375rem; 
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.navbar {
  background-color: #201b2c;
  border-radius: 3.75rem 3.75rem 0 0;
  display: flex;
  justify-content: space-around;
  padding: 0.5rem 0;
}

.nav-icon {
   width: 2rem; 
   height: 2rem; 
   margin-bottom: 0.25rem; 
}

.nav-link {
   color: #77ffc0;
   display: flex;
   flex-direction: column;
   align-items: center;
   text-align: center;
   padding: 0.75rem 0;
   flex-grow: 1;
   font-weight: bold;
}

.nav-link:hover {
    color: #77ffc0;
}

.carousel-control-prev,
.carousel-control-next {
  filter: invert(1); 
}

.container-corpo {
  padding-bottom: 5rem;
}

.nav-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (max-width: 767px) {
  .header {
    flex-direction: column;
    align-items: center;
  }

  .header h4 {
    margin-top: 10px;
  }

  .navbar .nav-link {
    padding: 0.5rem;
  }

  .navbar .nav-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .navbar {
    border-radius: 2rem 2rem 0 0;
    padding: 0 1rem;
  }

  .nav-link div {
    font-size: 0.875rem;
  }
}