body, html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

#map {
    height: calc(100% - 120px);
    width: 100%;
}

.search-bar {
    display: flex;
    justify-content: center;
    padding: 1%;
    background-color: #1F1B2C;
    border-bottom: 1px solid #ccc;
}

.search-bar input {
    width: 80%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #1F1B2C;
    border-radius: 5px;
}

.navbar {
    height: 60px;
    display: flex;
    justify-content: space-around;
    background-color: #1F1B2C;
    border-top: 1px solid #ccc;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 1%;
}

.navbar .nav-link {
    padding: 0.5rem;
    display: flex;
}

.navbar .nav-icon {
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 0.5rem;
}

.navbar {
    border-radius: 1rem 1rem 0 0;
    padding: 0 1rem;
}

.nav-link div {
    font-size: 0.875rem;
}
