body {
    background-color: #2f2841;
    color: #f0ffff; 
    font-family: 'Noto Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.search-container {
    margin: 1rem auto;
    max-width: 500px;
    color: #ffffff;
    z-index: 1000;
}

.search-container .form-control {
    background-color: #201b2c;
    color: #ffffff;
    border: 1px solid #49405f;
}

.search-container .form-control::placeholder {
    color: #ffffffb6;
}

.fixed-nav {
    position: fixed;
    top: 3.5rem;
    width: 100%;
    background-color: #201b2c;
    z-index: 1000;
}

.tab-content {
    overflow: hidden;
}

.tab-pane {
    padding-bottom: 5rem;
}

.restaurant-card img {
    height: 9.375rem;
    object-fit: cover;
}

.restaurant-card {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.restaurant-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: auto;
}

.rating {
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.rating span {
    margin-left: 0.2rem;
}

.card {
    background-color: #49405f;
    color: #ffffff;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 250px;
    max-height: 250px;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
}


.card-title {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.card-text {
    color: #D8F3DC;
}

.navbar {
    background-color: #201b2c;
    border-radius: 3.75rem 3.75rem 0 0;
    display: flex;
    justify-content: space-around;
    padding: 0.5rem 0;
    z-index: 1000;
}

.nav-icon {
    width: 2rem; 
    height: 2rem; 
    margin-bottom: 0.25rem; 
}

.nav-link {
    color: #77ffc0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.75rem 0;
    flex-grow: 1;
    font-weight: bold;
}

.nav-link:hover {
    color: #77ffc0;
}

.fixed-bottom .container-fluid {
    display: flex;
    justify-content: space-between;
}

.navbar .nav-link {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0.75rem 0;
}

.navbar .nav-icon {
    width: 2rem; 
    height: 2rem; 
}

.navbar .nav-link div {
    font-size: 0.875rem;
}

.nav-link div {
    font-size: 0.875rem;
}

@media (max-width: 767px) {
  .navbar .nav-link {
    padding: 0.5rem;
  }

  .navbar .nav-icon {
    width: 1.8rem;
    height: 1.8rem;
  }

  .navbar {
    border-radius: 2rem 2rem 0 0;
    padding: 0 1rem;
  }

  .nav-link div {
    font-size: 0.875rem;
  }
}

main {
    margin-top: 7rem;
    padding: 1rem;
    flex: 1;
}

#searchInput {
    border-radius: 20px; 
    padding-left: 2rem;
    border: 1px solid #49405f;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}

#searchInput:focus {
    border-color: #77ffc0;
    box-shadow: 0 0 0 0.2rem rgba(119, 252, 192, 0.5);
    outline: none;
}
