body {
  background-color: #2f2841;
  color: #f0ffff;
  font-family: 'Noto Sans', sans-serif;
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
  height: 100%;
  box-sizing: border-box;
}

.image-container {
  position: relative;
  width: 100%;
  height: 50vh;
  overflow: hidden;
}

.restaurant-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 15px;
}

.heart-container {
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.heart {
  width: 40px;
  height: 40px;
  transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.info-container {
  background-color: #49405f;
  padding: 1rem;
  border-radius: 15px;
  width: 100%;
  max-width: 600px;
  margin-top: -2rem;
  box-sizing: border-box;
}

.info-container h1 {
  color: #77ffc0;
  margin-bottom: 0.5rem;
}

.info-container .subtitle {
  color: #f0ffff;
  margin-bottom: 1rem;
}

.info-container .location,
.info-container .rating,
.info-container .price {
  margin-bottom: 0.5rem;
}

.map-button {
  background-color: #77ffc0;
  color: #2f2841;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 10px;
  cursor: pointer;
  margin-bottom: 1rem;
}

.accessibility {
  margin-bottom: 1rem;
}

.accessibility h2 {
  color: #77ffc0;
  margin-bottom: 0.5rem;
}

.accessibility ul {
  list-style-type: none;
  padding: 0;
}

.accessibility ul li {
  background-color: #3c2d48;
  padding: 0.5rem;
  border-radius: 5px;
  margin-bottom: 0.5rem;
}

.learn-more {
  color: #77ffc0;
  text-decoration: none;
}

.comments-button {
  background-color: #77ffc0;
  color: #2f2841;
  border: none;
  padding: 1rem 2rem;
  border-radius: 10px;
  cursor: pointer;
  margin-top: 1rem;
  display: block;
  width: 100%;
  align-self: center;
}

@media (max-width: 600px) {
  .comments-button {
    padding: 0.7rem 1.5rem;
  }
}

.heart.pulse {
  transform: scale(1.3);
  opacity: 0.8;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

#back-button {
  position: absolute;
  left: 10px;
  top: 10px;
  background-color: #fff;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  z-index: 1;
  margin-top: 2vh
}
