<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mapa Interativo</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/mapa.css">
</head>
<body>
    <div class="search-bar">
        <input type="text" placeholder="Pesquise por nomes e endereços">
    </div>
    <div id="map"></div>
    <nav class="navbar fixed-bottom navbar-light">
      <div class="container-fluid d-flex justify-content-around">
        <a class="nav-link" href="home.html">
          <img src="../static/imgs/home-icon.png" alt="Home" class="nav-icon">
          <div>Home</div>
        </a>
        <a class="nav-link" href="#">
          <img src="../static/imgs/map-icon.png" alt="Map" class="nav-icon">
          <div>Mapa</div>
        </a>
        <a class="nav-link" href="pesquisar.html">
          <img src="../static/imgs/search-icon.png" alt="Search" class="nav-icon">
          <div>Pesquisar</div>
        </a>
        <a class="nav-link" href="usuario.html">
          <img src="../static/imgs/user-icon.png" alt="User" class="nav-icon">
          <div>Usuário</div>
        </a>
      </div>
    </nav>
    
  
    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script src="../static/js/mapa.js"></script>
</body>
</html>
